<?xml version="1.0" encoding="utf-16"?>
<ExpandedSettingsConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <WorldSettingsModifier>
    <SmallShipMaxSpeedMultiplier>50</SmallShipMaxSpeedMultiplier>
    <LargeShipMaxSpeedMultiplier>50</LargeShipMaxSpeedMultiplier>
  </WorldSettingsModifier>
  <GeneralBlockModifiers>
    <BlockDamageMultiplier>-1</BlockDamageMultiplier>
    <BlockDeformationMultiplier>-1</BlockDeformationMultiplier>
    <BlockConstructTimeMultiplier>-1</BlockConstructTimeMultiplier>
    <BlockDeconstructTimeMultiplier>-1</BlockDeconstructTimeMultiplier>
  </GeneralBlockModifiers>
  <MiningModifiers>
    <OreDetectorMaxRangeMultiplier>10</OreDetectorMaxRangeMultiplier>
  </MiningModifiers>
  <PowerModifiers>
    <SolarPowerMultiplier>-1</SolarPowerMultiplier>
    <WindPowerMultiplier>-1</WindPowerMultiplier>
    <HydrogenPowerMultiplier>-1</HydrogenPowerMultiplier>
    <ReactorPowerMultiplier>-1</ReactorPowerMultiplier>
    <BatteryCapacityMultiplier>0.5</BatteryCapacityMultiplier>
    <BatteryMaxOutputMultiplier>0.5</BatteryMaxOutputMultiplier>
    <BatteryMaxInputMultiplier>-1</BatteryMaxInputMultiplier>
  </PowerModifiers>
  <ThrusterModifiers>
    <AtmoThrusterThrustMultiplier>-1</AtmoThrusterThrustMultiplier>
    <AtmoThrusterPowerMultiplier>-1</AtmoThrusterPowerMultiplier>
    <HydroThrusterThrustMultiplier>-1</HydroThrusterThrustMultiplier>
    <HydroThrusterFuelEfficiencyMultiplier>2</HydroThrusterFuelEfficiencyMultiplier>
    <IonThrusterThrustMultiplier>-1</IonThrusterThrustMultiplier>
    <IonThrusterPowerMultiplier>-1</IonThrusterPowerMultiplier>
  </ThrusterModifiers>
  <WheelModifiers>
    <WheelPropulsionMultiplier>-1</WheelPropulsionMultiplier>
    <WheelAxleFrictionMultiplier>-1</WheelAxleFrictionMultiplier>
    <WheelMaxPowerRequirementMultiplier>-1</WheelMaxPowerRequirementMultiplier>
    <WheelIdlePowerRequirementMultiplier>-1</WheelIdlePowerRequirementMultiplier>
    <WheelMinOffsetMultiplier>-1</WheelMinOffsetMultiplier>
    <WheelMaxOffsetMultiplier>-1</WheelMaxOffsetMultiplier>
    <WheelMaxSteeringAngleMultiplier>-1</WheelMaxSteeringAngleMultiplier>
    <WheelSteeringSpeedMultiplier>-1</WheelSteeringSpeedMultiplier>
  </WheelModifiers>
  <BlockToolsModifiers>
    <WelderBlockRangeMultiplier>-1</WelderBlockRangeMultiplier>
    <GrinderBlockRangeMultiplier>-1</GrinderBlockRangeMultiplier>
    <DrillBlockRangeMultiplier>-1</DrillBlockRangeMultiplier>
  </BlockToolsModifiers>
  <H2O2BlockModifiers>
    <OxygenFarmMaxYieldMultiplier>-1</OxygenFarmMaxYieldMultiplier>
    <IceToO2ConversionMultiplier>-1</IceToO2ConversionMultiplier>
    <IceToH2ConversionMultiplier>-1</IceToH2ConversionMultiplier>
  </H2O2BlockModifiers>
  <CommsBlockModifiers>
    <BeaconMaxRangeMultiplier>-1</BeaconMaxRangeMultiplier>
    <BeaconMaxPowerDrainMultiplier>-1</BeaconMaxPowerDrainMultiplier>
    <AntennaMaxRangeMultiplier>-1</AntennaMaxRangeMultiplier>
  </CommsBlockModifiers>
  <LightBlocksModifiers>
    <PointLightMaxRangeMultiplier>-1</PointLightMaxRangeMultiplier>
    <SpotlightMaxRangeMultplier>-1</SpotlightMaxRangeMultplier>
    <SpotlightConeAngleMultiplier>-1</SpotlightConeAngleMultiplier>
  </LightBlocksModifiers>
  <SpaceBlockModifiers>
    <GravityGeneratorMaxRangeMultiplier>-1</GravityGeneratorMaxRangeMultiplier>
    <GravityGeneratorMaxStrengthMultiplier>-1</GravityGeneratorMaxStrengthMultiplier>
    <SphericalGravityGeneratorMaxPowerRequirementMultiplier>-1</SphericalGravityGeneratorMaxPowerRequirementMultiplier>
    <ArtificialMassMaxMassMultiplier>-1</ArtificialMassMaxMassMultiplier>
    <JumpDrivePowerNeededForJumpMultiplier>-1</JumpDrivePowerNeededForJumpMultiplier>
    <JumpDrivePowerDrawMultiplier>-1</JumpDrivePowerDrawMultiplier>
    <JumpDriveMaxWeightMultiplier>-1</JumpDriveMaxWeightMultiplier>
    <JumpDriveMaxDistanceMultiplier>-1</JumpDriveMaxDistanceMultiplier>
  </SpaceBlockModifiers>
  <CharacterModifiers>
    <PlayerHealthMultiplier>-1</PlayerHealthMultiplier>
    <PlayerInventoryMultiplier>-1</PlayerInventoryMultiplier>
    <OxygenConsumptionMultiplier>-1</OxygenConsumptionMultiplier>
    <JetpackHydrogenConsumptionMultiplier>3</JetpackHydrogenConsumptionMultiplier>
    <JetpackStrengthMultiplier>0.8</JetpackStrengthMultiplier>
    <JetpackSlowdownMultiplier>-1</JetpackSlowdownMultiplier>
    <SuitConsumptionInTemperatureExtremeMultiplier>-1</SuitConsumptionInTemperatureExtremeMultiplier>
  </CharacterModifiers>
  <WeaponsModifiers>
    <HandheldWeaponsDamageMultiplier>-1</HandheldWeaponsDamageMultiplier>
    <SmallCalliberDamageMultiplier>-1</SmallCalliberDamageMultiplier>
    <LargeCalliberDamageMultiplier>-1</LargeCalliberDamageMultiplier>
    <MissileDamageMultiplier>-1</MissileDamageMultiplier>
    <MissileRadiusMultiplier>-1</MissileRadiusMultiplier>
    <WarheadDamageMultiplier>-1</WarheadDamageMultiplier>
  </WeaponsModifiers>
  <VisualModifers>
    <ModifyInteractHighlights>false</ModifyInteractHighlights>
    <InteractHighlightLineThicknessMultiplier>-1</InteractHighlightLineThicknessMultiplier>
    <InteractHighlightColor>
      <X>255</X>
      <Y>255</Y>
      <Z>0</Z>
    </InteractHighlightColor>
    <InteractAccessDeniedHighlightColor>
      <X>255</X>
      <Y>0</Y>
      <Z>0</Z>
    </InteractAccessDeniedHighlightColor>
  </VisualModifers>
</ExpandedSettingsConfig>